@page
@model WisDellsDevApp.Pages.AgenciesModel
@{
}
<br />
<h2>Agencies</h2>

<table>
    <thead>
        <tr>
            <th>HEY!</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var agency in Model.listAgencies)
        {
         <tr>
            <td>@agency.RecNo</td>
            <td>@agency.PickUpBy</td>
        </tr>
        }
    </tbody>
</table>
